<%= render "itineraries/search_engine_phone", itinerary: @itinerary %>
<div class="container m-2 p-3 d-flex flex-column" data-controller="itinerary-add-products">
  <div class="d-flex flex-row m-4 justify-content-between align-items-center">
    <h1><%= pluralize(@counter, "Result") %></h1>
    <% if @counter > 0 %>
      <%= link_to "Review #{@itinerary.name}", my_itineraries_path(@itinerary), class: "btn btn-primary ms-2 mb-4", style: "background-color:#2997D8 ; border-color:#2997D8 ;" %>
    <% end %>
  </div>
  <br>
  <div class="d-flex flex-wrap flex-row m-1">
  <% if @counter > 0 %>
    <% @products.each do |product| %>
      <%= render "itineraries/itinerary_add_product_card", itinerary: @itinerary, product: product %>
    <% end %>
  <% else %>
  <div class="container d-flex justify-content-center" style="height: 50vh">
    <div class="align-self-center d-flex flex-column align-items-center justify-content-center">
      <h2><i class="fa-solid fa-hand-point-up"></i></h2>
    <div class= "d-flex flex-row align-items-center">
      <h3 class="mb-4" style="text-align:center">Search for more products above or</h3>
      <%= link_to "Review #{@itinerary.name}", my_itineraries_path(@itinerary), class: "btn btn-primary ms-2 mb-4", style: "background-color:#2997D8 ; border-color:#2997D8 ;" %>
    </div>
  </div>
</div>
  <% end %>
  </div>
</div>
