<%= render "itineraries/new_search_engine_phone" %>
<div class="banner d-flex align-items-center" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/135620/pexels-photo-135620.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);">
  <div id="banner-content" class="container">
    <h1>Products we've found for <%=current_user.first_name%> </h1>
    <p>Search for the world's best products, find them nearby!</p>
  </div>
</div>
<%@user_location = request.location%>
<h1 class="m-4"><%= pluralize(@counter, "Result") %></h1>
<div class="d-flex justify-content-center container" style="background-color: white; height: 100%; width: 100vw">
  <div class="d-flex flex-wrap container" style="margin-left: 1vw; margin-right: 1vw; background-color: white; height: 100%; width: 100vw">
  <% if @counter > 0 %>
      <% @products.each do |product| %>
        <div class="card" style="width: 20rem; height: 36rem; margin: 4vh auto; box-shadow: 0 0 15px rgba(0,0,0,0.2);">
              <% if product.photos[0]!=nil %>
                <%= cl_image_tag product.photos[0].key, height: 300, width: 300, crop: :fill, class:"card-img-top bd-placeholder-img c-image-l", preserveAspectRatio: "xMidYMid slice", focusable: "false" %>
              <%else%>
                <img src="https://res.cloudinary.com/dicqfpbyc/image/upload/v1671166248/j1v91gw4pkbelj5wfaq4.png" alt="" style="height: 300px; width: 319px;">
              <% end %>
              <div class="card-body">
                <h4 class="card-text"><%= product.brand %>, <%= product.name %></h4>
                <div class="d-flex ">
                  <div class=" align-items-center">
                    <div class="" style="margin-bottom: -10px">
                      <h4><span><i class="fa-solid fa-tag"></i></span> £<%= "%.2f" % product.price.round %></h4>
                      <p><i class="fa-solid fa-compass-drafting"></i> Distance: <%=  "%.1f" % Geocoder::Calculations.distance_between([current_user.location.latitude, current_user.location.longitude], [product.latitude, product.longitude]).round%>km</p>
                    </div>
                    <p style="margin-bottom:-2px;"><i class="fa-solid fa-clock"></i> <%= product.business.opening_time.strftime("%H:%M")%> - <%= product.business.closing_time.strftime("%H:%M")%><p>
                    <% if product.availability  %>
                      <span class="badge bg-success badge-pill badge-success">In stock</span>
                    <% else %>
                      <span class="badge bg-warning badge-pill badge-success">Out of stock</span>
                    <% end %>
                  </div>
                </div>
                  <div style="margin-top: -3px;">
                    <%= link_to "See up close!", product_show_path(product), class: "blue-btn" %>
                  </div>
                  <div style="margin-top: 20px">
                    <%= link_to "Add to my itinerary + ", create_itinerary_path(product, itinerary: {name: "My itinerary ##{current_user.saved_itineraries.all.count + 1}", status: false}), class: "blue-btn" %>
                  </div>
              </div>
            </div>
      <% end %>
        </div>
  <% else %>
      <div class="container d-flex justify-content-center" style="height: 50vh">
        <div class="align-self-center d-flex flex-column align-items-center justify-content-center">
          <h2><i class="fa-solid fa-hand-point-up"></i></h2>
        <div class= "d-flex flex-row align-items-center">
          <h3 class="mb-4" style="text-align:center">No results found, keep seeking.</h3>
        </div>
      </div>
    </div>
    <% end %>

    </div>
  </div>
</div>
