<div data-controller = "itinerary-show">
  <div style="width: 100%; height: 500px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  <div class="container">
    <div class="container mt-3 p-3 card">
      <div data-itinerary-show-target = "nameContainer">
        <h1 data-itinerary-show-target="name"><%= @itinerary.name %>&nbsp<span style="font-size:20px" data-action="click->itinerary-show#displayNewNameForm"><i class="fa-solid fa-pencil"></i></span></h1>
        <%= simple_form_for @itinerary, url: update_element_path(@itinerary, "name") , html: {class: "d-flex flex-row align-content-center justify-content-between d-none", data: { itinerary_show_target: "newNameForm", action: "submit->itinerary-show#updateName"}} do |f| %>
          <%= f.input :name, label: false %>
          <input type="hidden" value="<%= @itinerary.id%>" data-itinerary-show-target="itineraryId">
          <%= f.submit "Change name", class: "btn btn-dark h-50" %>
        <% end %>
      </div>
      <p>The itinerary is schedualed for <strong><span data-itinerary-show-target="date"><%= @itinerary.saved_itineraries.first.date %></strong></span> <span data-action="click->itinerary-show#displayDateForm" data-itinerary-show-target="datePencil"><i class="fa-solid fa-pencil"></i></span></p>
      <%= simple_form_for @itinerary.saved_itineraries.first, url: update_element_path(@itinerary.saved_itineraries.first, "date") , html: {class: "d-flex flex-row align-content-center justify-content-between d-none", data: { itinerary_show_target: "dateForm", action: "submit->itinerary-show#updateDate"}} do |f| %>
          <%= f.input :date, label: false, html5:true %>
          <input type="hidden" value="<%= @itinerary.saved_itineraries.first.id%>" data-itinerary-show-target="savedItineraryId">
          <%= f.submit "Edit", class: "btn btn-dark h-50" %>
        <% end %>
      <p>
        We beleive this is the fastest route, but feel free to customize it below.
      </p>
      <div class="d-flex flex-column p-3">
        <ul>
          <% @itinerary.products.each do |product| %>
            <a>
            <li style="list-style-type: none;">
              <div class="card-product d-flex">
                <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
                <div class="card-product-infos">
                  <h2><%= "#{product.name} #{product.brand}" %></h2>
                  <p><i class="fa-solid fa-location-dot"></i> <%= product.business.address %></p>
                  <p><i class="fa-solid fa-store"></i> <%= link_to product.business.name, business_path(product.business) %></p>
                </div>
                <div>
                  <%= link_to "See this product!", product_show_path(product), class: "blue-btn"%>
                </div>
              </div>

            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
