<div class="m-4">
  <%= link_to "Go back to business!", business_path(@business), class: "blue-btn"%>
</div>
<div class="container">
  <h1>Edit business</h1>
  <div class="container card border p-3">
    <%= simple_form_for(@business) do |f|%>
    <%= f.input :address,
                input_html: {data: {address_autocomplete_target: "address"}, class: "d-none"},
                wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}%>
    <%= f.input :name %>
    <%= f.input :category, collection: @category_list %>
    <%= f.input :opening_time, as: :time, html5: true %>
    <%= f.input :closing_time, as: :time, html5: true %>
    <%= f.input :description %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
<<<<<<< HEAD
    <%= f.submit "Edit my business", class: "btn btn-primary", style: "background-color: #2997D8; border: 1px solid #2997D8; border-radius: 0px !important"%>
=======
    <%= f.submit "Edit my business", class: "btn btn-primary"%>
>>>>>>> origin
    <% end %>
  </div>
</div>
