
<h1 style="background-color:white; margin: 2vh;"> <%=current_user.first_name%>'s businesses</h1>
<div  class="d-flex justify-content-center container" style="background-color: white; height: 100%; width: 100vw">
    <div class="d-flex flex-wrap container" style="margin-left: 1vw; margin-right: 1vw; background-color: white; height: 100%; width: 100vw;">
      <% @businesses.each do |business| %>
        <div class="card" style="width: 20rem; height: 32rem; margin: 4vh auto; box-shadow: 0 0 15px rgba(0,0,0,0.2);">
          <% if business.photos.attached?%>
            <%= cl_image_tag business.photos[0].key, height: 200, width: 200, crop: :fill, class:"card-img-top bd-placeholder-img c-image-l", preserveAspectRatio: "xMidYMid slice", focusable: "false" %>
          <% else %>
           <img src="https://www.fintelgaseluce.it/wp-content/uploads/2015/07/FEG-facebook-placeholder_shop.png" style="height: 300; width: 300;"/>
          <% end %>
          <div class="card-body">
            <h4 class="card-text"> <%= business.name %></h4>
            <div class="d-flex ">
              <div class=" align-items-center">
                <p><i class="fa-solid fa-address-book"></i> <%= business.address %></p>
                <p><i class="fa-solid fa-door-open"></i> <%= business.opening_time %></p>
                <p><i class="fa-solid fa-door-closed"></i><%= business.closing_time %></p>
                <p><i class="fa-solid fa-circle-question"></i><%= business.category %></p>
              </div>
            </div>
            <div style="margin-top: 10px">
              <%= link_to "See/edit this business!", business_path(business), class: "blue-btn"%>
            </div>
            </div>
        </div>
      <% end %>
    </div>

</div>
