<div class="container p-3">
  <h1>This is a business show page</h1>
  <div class="card border p-3 m-5">
    <p>Name: <%= @business.name %></p>
    <p>Address: <%= @business.address %></p>
    <p>Opening time: <%= @business.opening_time %></p>
    <p>Closing time:<%= @business.closing_time %></p>
    <p>Category: <%= @business.category %></p>
    <p>Description: <%= @business.description %></p>
    <p>Status: <%= @business.open %></p>
  </div>
</div>
