


<%# <div>
        <label class="toggle" for="open">
          <i class="fa fa-bars" style="color: white; font-size: 40px; margin-right: 2vw" aria-hidden="true" ></i>
        </label>
        <input id="open" type="checkbox">
        <div id="menu">
          <nav>
            <ul>
              <%= link_to "show", user_path(current_user), class: "dropdown-item" %>
              <%# <%= link_to "Edit", edit_user_registration_path(current_user), class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </ul>
          </nav>
        </div> %> %>
      </div>


<%# mxisvfhwx3skmxad3fh7 %>
<%# dfukniqn3auawithsdih %>

<%= @products[0].name %>
<%= @products[1].name %>
<%= @products[2].name %>
<%= @products[3].name %>
