<%# if it's not the langing page, put the search engine in the navbar %>
    <%= simple_form_for :filters, url: new_itinerary_path, method: :get do |f| %>
        <%= f.input :seek %>
        <%= f.input :address, input_html: {data: {address_autocomplete_target: "address"}, class: "d-none"},wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}%>
        <%= button_tag type: 'submit', class:"btn" do %>
          <i class="fa-solid fa-magnifying-glass"></i>
        <% end %>
      </div>
    <% end %>



<%# current_location  %>

  <div style="overflow:hidden" class="white">
    <div class="user-signed-in-main-container white" style="">

      <% if current_user.location.presence == nil %>
        <%= simple_form_for Location.new, data: {turbo: false} do |f|%>
        <%= f.input :address, input_html: {data: {address_autocomplete_target: "address"}, class: "d-none"},wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}%>
          <div class="form-actions">
            <%= f.button :submit, "Set address", class:"btn btn-dark" %>
          </div>
        <% end %>
      <% else %>
        <div class="d-flex">
        <h4><i class="fa-solid fa-location-pin"></i></h4>
          <%= current_user.location.address %>
        </div>

        <%= simple_form_for (current_user.location) do |f|%>
          <%= f.input :address, input_html: {data: {address_autocomplete_target: "address"}, class: "d-none"},wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}%>
          <%= f.button :submit, "Change address", class:"btn btn-dark" %>
        <% end %>
      <% end %>


<%# shops %>




<%# <div>
        <label class="toggle" for="open">
          <i class="fa fa-bars" style="color: white; font-size: 40px; margin-right: 2vw" aria-hidden="true" ></i>
        </label>
        <input id="open" type="checkbox">
        <div id="menu">
          <nav>
            <ul>
              <%= link_to "show", user_path(current_user), class: "dropdown-item" %>
              <%# <%= link_to "Edit", edit_user_registration_path(current_user), class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </ul>
          </nav>
        </div> %> %>
      </div>
