<%# <div class="d-flex mt-3 justify-content-around">
    <div>
      <img class="round category-img category-img1" src="https://images.indianexpress.com/2019/12/759-9.jpg" alt="">
      <p>Technology</p>
    </div>

    <div>
      <img class="round category-img category-img2" src="https://post.healthline.com/wp-content/uploads/2020/09/healthy-eating-ingredients-1200x628-facebook-1200x628.jpg" alt="">
      <p>Health</p>
    </div>

    <div class="display-none">
      <img class="round category-img category-img3" src="https://static.independent.co.uk/2022/01/28/16/Best%20online%20clothes%20shops%20and%20brands%20Indybest%20copy.jpg?quality=75&width=982&height=726&auto=webp" alt="">
      <p>Cloth</p>
    </div>

    <div>
      <img class="round category-img category-img4" src="https://static.independent.co.uk/2022/01/28/16/Best%20online%20clothes%20shops%20and%20brands%20Indybest%20copy.jpg?quality=75&width=982&height=726&auto=webp" alt="">
      <p>Cloth</p>
    </div>
  </div>

  <div class="d-flex justify-content-around">
    <div>
      <img class="round category-img category-img5" src="https://www.educationalproducts.com/shoppacks/images/Layout/login/supplies.png" alt="">
      <p>Education</p>
    </div>
    <div class="display-none">
      <img class="round category-img category-img6" src="https://media.istockphoto.com/id/1274950193/photo/group-of-different-exercising-equipment-on-white-home-gym-floor-fitness-ball-round-foam.jpg?s=612x612&w=0&k=20&c=Jj_MEvqbR7jEFWLkcz-ElP27P-5ZL6uqhP0UxVLc4IA=" alt="">
      <P>Exercise</P>
    </div>
    <div>
      <img class="round category-img category-img7" src="https://www.eatthis.com/wp-content/uploads/sites/4/2020/02/aldi-items.jpg?quality=82&strip=1" alt="">
      <p>Food</p>
    </div>
  </div> %>



<%# <div>
        <label class="toggle" for="open">
          <i class="fa fa-bars" style="color: white; font-size: 40px; margin-right: 2vw" aria-hidden="true" ></i>
        </label>
        <input id="open" type="checkbox">
        <div id="menu">
          <nav>
            <ul>
              <%= link_to "show", user_path(current_user), class: "dropdown-item" %>
              <%# <%= link_to "Edit", edit_user_registration_path(current_user), class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </ul>
          </nav>
        </div> %> %>
      </div>


<%# mxisvfhwx3skmxad3fh7 %>
<%# dfukniqn3auawithsdih %>

<%= @products[0].name %>
<%= @products[1].name %>
<%= @products[2].name %>
<%= @products[3].name %>
