<div style="">
  <% if current_user.location.presence == nil %>
    <%# <p>
      <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        Set current location
      </a>
    </p> %>
    <div class="collapse" id="collapseExample">
      <%= simple_form_for Location.new, data: {turbo: false} do |f|%>
        <div class="current-location-input-form">
          <%= f.input :address, class:"", required: true, label:false, input_html: {data: {address_autocomplete_target: "address"}, class: "d-none"},wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}%>
          <div class="">
            <%= f.button :submit, "Set", class:"current-location-input-form-submit btn btn-dark" %>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="d-flex justify-content-around">

    </div>
    <div style="" class="collapse" id="collapseExample">
    <%= simple_form_for (current_user.location) do |f|%>
      <div class="current-location-input-form">
        <%= f.input :address, class:"", required: true, label:false, input_html: {data: {address_autocomplete_target: "address"}, class: "d-none"},wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}%>
        <%= f.button :submit, "Change", class:"current-location-input-form-submit btn btn-dark", style:"" %>
      </div>
    <% end %>
    </div>
  <% end %>
</div>
