<div class="d-flex landing-navbar navbar navbar-expand-sm navbar-light navbar-lewagon" style=" background-color:#2997D8;">
   <%= link_to "/", class: "navbar-brand" do %>
      <h2 style="font-weight: bold; color:white; margin-left: 2vw;" >Seekr</h2>
    <% end %>
  <% if user_signed_in? && (controller_name == "pages" || (controller_name == "itineraries" && (action_name == "new" || action_name == "add_products") ))  %>
    <div style="text-align:center">
      <div class="sign-in-search-engine-pc-tablet">
        <!-- The following form displays if adding more products -->
        <% if controller_name == "itineraries" && action_name == "add_products" %>
          <%= simple_form_for :filters, method: :get do |f| %>
            <div class="d-flex">
              <%= f.input :seek, input_html: {class: "seek-search"}, placeholder: 'Categories, product name..', label: false %>
              <div class="d-flex" style="height: 37px;" >
              <%= f.input :address, label: false, input_html: {data: {address_autocomplete_target: "address"}, class: "mapboxgl-ctrl-geocoder--input d-none"}, wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}%>
              <%= button_tag type: 'submit', class:"glass-btn btn me-5" do %>
                <i style="" class="fa-solid fa-magnifying-glass"></i>
              <% end %>
            </div>
            </div>
          <% end %>
        <!-- The following form will be displayed if creating a new itinerary instance -->
        <% else %>
          <%= simple_form_for :filters, url: new_itinerary_path, method: :get do |f| %>
            <div class="d-flex">
              <%= f.input :seek, input_html: {class: "seek-search"}, placeholder: 'Categories, product name..', label: false %>
              <div class="d-flex" style="height: 37px;" >
              <%= f.input :address, label: false, input_html: {data: {address_autocomplete_target: "address"}, class: "mapboxgl-ctrl-geocoder--input d-none"}, wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}%>
              <%= button_tag type: 'submit', class:"glass-btn btn me-5" do %>
                <i style="" class="fa-solid fa-magnifying-glass"></i>
              <% end %>
            </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>

  <% if user_signed_in? %>
    <div class="humberger-nav">
      <label class="toggle" for="open">
        <i class="fa fa-bars" style="color: white; font-size: 40px;" aria-hidden="true"></i>
      </label>
      <input id="open" type="checkbox">
      <div id="menu">
        <nav>
          <ul>
            <%= link_to "show", user_path(current_user), class: "dropdown-item" %>
            <%= link_to "Edit", edit_user_registration_path(current_user), class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
          </ul>
        </nav>
      </div>
    </div>


    <div class="icon-nav">
      <li class="nav-item dropdown">
        <% if current_user.avatar.attached? %>
          <%= cl_image_tag current_user.avatar.key, height: 40, width: 40, crop: :fill,  class:"avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <% else %>
          <%= image_tag "https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__340.png", height: 40, width: 40, crop: :fill,  class:"avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <% end %>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <%= link_to "Edit", edit_user_registration_path, class: "dropdown-item" %>
          <%# <%= link_to "index", posts_path, class: "dropdown-item" %>
          <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
        </div>
      </li>
    </div>

  <% else %>
        <div class="d-flex" style="color:white">
          <li class="nav-item me-4">
            <%= link_to "Signup", new_user_registration_path, class: "nav-link" %>
          </li>
          <li class="nav-item me-2">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        </div>
  <% end %>
</div>
