<div class="d-flex landing-navbar navbar navbar-expand-sm navbar-light navbar-lewagon" style=" background-color:#2997D8;">
  <%= link_to "/", class: "navbar-brand" do %>
      <h1 style="font-weight: bold; color:white; margin-left: 2vw;" >Seekr</h1>
  <% end%>
  <%= render "shared/signed_in_PC_navbar_search" %>
  <% if user_signed_in? %>
    <div class="humberger-nav">
      <label class="toggle" for="open">
        <i class="fa fa-bars" style="color: white; font-size: 40px;" aria-hidden="true"></i>
      </label>
      <input id="open" type="checkbox">
      <%= render "shared/slidebar_mobile" %>
    </div>

    <%# icon-navbar %>
    <%= render "components/icon_navbar" %>

  <% else %>
    <div class="d-flex" style="color:white">
      <li class="nav-item me-4">
        <%= link_to "Signup", new_user_registration_path, class: "nav-link" %>
      </li>
      <li class="nav-item me-2">
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      </li>
    </div>
  <% end %>

</div>
