<%= @products.each do| product|%>
<div class = "card d-flex">
  <div><img src=# /></div>
  <div>
    <h4><%= product.name  %>
    <p><i class="fa-solid fa-star"></i>Brand: <%= product.brand%></p>
    <p><i class="fa-solid fa-circle-question"></i> Category :<%= product.category %></p>
    <p><i class="fa-solid fa-tag"></i>Price: £<%= product.price.round%><p>
  <div>
  <div>
    <%= link_to "See item!",  business_product_path(@business, product), class:"btn btn-dark"%>
  </div>
</div>
<%end%>
