<div class="d-flex mb-4" style="" >
  <%# left side container %>
  <%= render "components/signed_in_sidebar" %>

  <%# right side conatainer %>
  <%# dashbored 1 %>
  <div class="sign-in-right-container" style="">

    <%# search engine %>
    <div style="" class="blue" id="sign-in-search-engine">
      <%= simple_form_for :filters, url: new_itinerary_path, method: :get do |f| %>
        <%= f.input :seek, placeholder: 'Categories, product name..', label: false,  class:"seek-search" %>
        <div class="nav-search" style="border-radius: 15px" >
          <%= f.input :address, label: false, input_html: {data: {address_autocomplete_target: "address"}, class: "mapboxgl-ctrl-geocoder--input d-none"}, wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}%>
          <%= button_tag type: 'submit', class:"signed-in-search-glass-container btn" do %>
            <i class="fa-solid signed-in-search-glass fa-magnifying-glass"></i>
          <% end %>
        </div>
      <% end %>
    </div>


    <div style="width:100%;">
      <%# #f6db04 #f6ff58 %>
      <div class="mt-3 corner dashbored-name-address" style="box-shadow: 0 0 15px rgba(0,0,0,0.2); margin: 0 auto; width:80%; background-color:#333">
        <%= render "components/display_setting_address" %>
        <%= render "shared/current_address_setting" %>
        <hr>
        <div class="dashbrod-detail d-flex justify-content-around">
          <%= render "components/dashbored_detail" %>
        </div>
      </div>
    </div>

    <%# category list %>
    <div style="text-align:center; background-size:cover; background-image:url('https://img.freepik.com/free-photo/full-length-portrait-excited-man_171337-2333.jpg?w=1480&t=st=1670527180~exp=1670527780~hmac=3e611183adee5f13ea9058d251f88ddaeff590430b12b5b1c17362ba4a8690dc')">
        <h3 class="mt-5" style="font-weight:bold;">Find your item</h3>
        <div style="margin-top:200px">
          <div style="text-align:center; background: #333; width:100%;">
            <h3 style="padding-bottom:8px; padding-top:8px; font-weight:bold; color:white">Categories</h3>
          </div>
          <%= render "shared/slide_home_link_category" %>
        </div>
    </div>
      <%= render "shared/slide_home_link_near_shops" %>

  </div>
</div>
