
<div class="d-flex">
  <div  style="box-shadow: 0 0 10px rgba(0,0,0,0.2); width:200px; height:800px; background-color: white; text-align: center">

    <% if current_user.avatar.attached? %>
      <%= cl_image_tag current_user.avatar.key, height: 150, width: 150, crop: :fill, class:"mt-4 round" %>
    <% else %>
      <img class="mt-4 round" style="height: 200px; width: 200px;" src="https://pcafalcons.com/wp-content/uploads/2019/08/no-profile-picture-icon-female-0-e1564976045606.jpg" alt="">
    <% end %>
    <br>
    <div class="mt-3">
      <%= current_user.first_name %>
      <%= current_user.last_name %>
    </div>

    <div class="mt-4 ms-4" style="text-align: left">
      <%= link_to "My page", user_path(current_user), class:"mt-1 btn btn-light", style:"margin-left:0" %>
      <button class="mt-1 btn btn-light">Business</button>
      <button class="mt-1 btn btn-light">History</button>
    </div>

  </div>

  <div>
    <div class="ms-3 white" style="height: 600px; width: 800px; box-shadow: 0 0 10px rgba(0,0,0,0.2);">
      <h4><i class="fa-solid fa-location-pin"></i></h4>
      <%= simple_form_for(current_user, as: :user, url: registration_path(:user), html: { method: :put }) do |f| %>
        <%= f.input :address, input_html: {data: {address_autocomplete_target: "address"}, class: "d-none"},wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}%>

        <div class="form-actions">
        <%= f.button :submit, "Update", class:"btn btn-dark" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
