
<div class="mt-2 mb-2" style="text-align:center; background-color: #333; width:100%;">
  <h3 style="padding-bottom:8px; padding-top:8px; font-weight:bold; color:white">Shops near you</h3>
</div>


<% if current_user.location == nil %>
  <h5 style="text-align:center " class="mt-4 mb-4"> Set your location to see stores around you</h5>
<% elsif @shops == [] %>
  <h5 style="text-align:center " class="mt-4 mb-4"> Sorry... no shops around your current address at the moment..</h5>
<% else %>
  <% @shops.each do |shop| %>
    <%= link_to business_path(shop), style:"text-decoration:none; color:black" do  %>
    <div class="shops-near mt-2 d-flex" style=" border-bottom: solid 2px black">
      <% if shop.photos.attached?  %>
        <%= cl_image_tag shop.photos[0].key, height: 120, width: 120, class:"", crop: :fill %>
      <% else %>
        <img src="https://icons.veryicon.com/png/o/miscellaneous/zr_icon/company-23.png" style="height: 120px; width: 120px;"alt="">
      <% end %>
     <div class="home-business-detail" >
      <h3><%= shop.name %></h3>
      <p><%= shop.address %></p>
      <p>Open time <%= shop.opening_time.strftime("%H:%M") %>-<%= shop.closing_time.strftime("%H:%M") %></p>
     </div>
    </div>
    <% end %>

  <% end %>
<% end %>
