<div class="home-card-slide col-lg-3 d-flex row flex-row flex-nowrap overflow-auto" style="z-index:10; margin: 0 auto; width: 100%">

  <%= link_to new_itinerary_path(:filters => {:seek => "sports", :address => @current_location }), class:"home-category-links", style:"text-decoration:none; color:black; width:200px;" do %>
    <div class="corner card" style=" width: 12rem;">
      <div class="home-card-slidecard-body card-body">
        <h5 style="font-weight:bold" class="category-card mb-3 card-text">Sports</h5>
      </div>
      <img class="mt-3"style="width:100%" src="https://img.freepik.com/free-vector/stretching-exercises-concept-illustration_114360-9072.jpg?w=1480&t=st=1671118128~exp=1671118728~hmac=e22d16862bee497709ef14a5232d012ef76ca604bc539c250aaa0a4ab3d49314" class="card-img-top" alt="...">
    </div>
  <% end %>
  <%= link_to new_itinerary_path(:filters => {:seek => "Travel", :address => @current_location }), class:"home-category-links", style:"text-decoration:none; color:black; width:200px;" do %>
    <div class="corner card" style="width: 12rem;">
      <div class="home-card-slidecard-body card-body">
        <h5 style="font-weight:bold" class="category-card card-text">Travel</h5>
      </div>
      <img class="mt-3"style="width:100%" src="https://img.freepik.com/free-vector/taipei-concept-illustration_114360-5781.jpg?w=1480&t=st=1671117314~exp=1671117914~hmac=c969b7f6e62a809fec2bf47b4c7dd2c9a8409d1ff4086f9cf3d38f02ea38d984" class="card-img-top" alt="...">
    </div>
  <% end %>
  <%= link_to new_itinerary_path(:filters => {:seek => "Medical", :address => @current_location }), class:"home-category-links", class:"home-category-links", style:"text-decoration:none; color:black; width:200px;" do %>
    <div class="corner card" style="width: 12rem;">
      <div class="home-card-slidecard-body card-body">
        <h5 style="font-weight:bold" class="category-card card-text">Medical</h5>
      </div>
      <img class="mt-3"style="width:100%" src="https://img.freepik.com/free-vector/medicine-concept-illustration_114360-1555.jpg?w=1480&t=st=1670522060~exp=1670522660~hmac=5adf320261fe70dbefbca468c5defb4da1d1be22081767a87c05c7b988d95b2e" class="card-img-top" alt="...">
    </div>
  <% end %>
  <%= link_to new_itinerary_path(:filters => {:seek => "Clothes", :address => @current_location }),class:"home-category-links",  style:"text-decoration:none; color:black; width:200px;" do %>
    <div class="corner card" style="width: 12rem;">
      <div class="home-card-slidecard-body card-body">
        <h5 style="font-weight:bold" class="category-card card-text">Clothes</h5>
      </div>
      <img class="mt-3"style="width:100%" src="https://img.freepik.com/free-vector/flat-hand-drawn-flea-market-illustration_23-2148848377.jpg?size=626&ext=jpg&uid=R87380621&ga=GA1.2.464133550.1670521750&semt=sph" class="card-img-top" alt="...">
    </div>
  <% end %>
  <%= link_to new_itinerary_path(:filters => {:seek => "Tech", :address => @current_location }), class:"home-category-links", style:"text-decoration:none; color:black; width:200px;" do %>
    <div class="corner card" style="width: 12rem;">
      <div class="home-card-slidecard-body card-body">
        <h5 style="font-weight:bold" class="category-card card-text">Tech</h5>
      </div>
      <img class="mt-3"style="width:100%" src="https://img.freepik.com/free-vector/isometric-cms-concept_23-2148807389.jpg?w=1480&t=st=1670522201~exp=1670522801~hmac=ff96e4a8ec3210493f32431c4ef59aafe26d8be5fbf5a784bffd1126d6b52561" class="card-img-top" alt="...">
    </div>
  <% end %>
  <%= link_to new_itinerary_path(:filters => {:seek => "Study", :address => @current_location }), class:"home-category-links",  style:"text-decoration:none; color:black; width:200px;" do %>
    <div class="corner card" style="width: 12rem;">
      <div class="home-card-slidecard-body card-body">
        <h5 style="font-weight:bold" class="category-card card-text">Study</h5>
      </div>
      <img class="mt-3"style="width:100%" src="https://img.freepik.com/free-vector/studying-concept-illustration_114360-1107.jpg?w=1480&t=st=1670522234~exp=1670522834~hmac=47a9b60ad6e4cccef576d2932213265ebafcb22a01de134c4dbc4c43a6dbd96d" class="card-img-top" alt="...">
    </div>
  <% end %>
  <%= link_to new_itinerary_path(:filters => {:seek => "Cooking", :address => @current_location }), class:"home-category-links", style:"text-decoration:none; color:black; width:200px;" do %>
    <div class="corner card" style="width: 12rem;">
      <div class="home-card-slidecard-body card-body">
        <h5 style="font-weight:bold" class="category-card card-text">Cooking</h5>
      </div>
      <img class="mt-3"style="width:100%" src="https://img.freepik.com/free-vector/male-chef-mixing-flour-eggs-dough-with-whisk-hands-happy-man-apron-preparing-homemade-sweet-dessert-table-home-kitchen-flat-vector-illustration-pastry-cooking-recipe-concept_74855-21965.jpg?w=1480&t=st=1670523561~exp=1670524161~hmac=16294fa75dddebe0aed8b2e49d869d4d8b48e1935713edd612c0e985aeb0852b" class="card-img-top" alt="...">
    </div>
  <% end %>
  <%= link_to new_itinerary_path(:filters => {:seek => "Food", :address => @current_location }), class:"home-category-links", style:"text-decoration:none; color:black; width:200px;" do %>
    <div class="corner card" style="width: 12rem;">
      <div class="home-card-slidecard-body card-body">
        <h5 style="font-weight:bold" class="category-card card-text">Food</h5>
      </div>
      <img class="mt-3"style="width:100%" src="https://img.freepik.com/free-vector/choosing-healthy-unhealthy-food_52683-39219.jpg?w=1480&t=st=1670524555~exp=1670525155~hmac=767310fb6d0acc35825110c2d4509cbc4203276dd4251360a7879249d8222a8e" class="card-img-top" alt="...">
    </div>
  <% end %>
  <%= link_to new_itinerary_path(:filters => {:seek => "Furniture", :address => @current_location }), class:"home-category-links", style:"text-decoration:none; color:black; width:200px;" do %>
    <div class="corner card" style="width: 12rem;">
      <div class="home-card-slidecard-body card-body">
        <h5 style="font-weight:bold" class="category-card card-text">Furniture</h5>
      </div>
      <img class="mt-3"style="width:100%" src="https://img.freepik.com/free-vector/furniture-store-concept-illustration_114360-6216.jpg?w=1480&t=st=1671117179~exp=1671117779~hmac=7e39067a2cb7aa293ef6acf5dea28decdd843e5c5f12795c9eda55b0a5a2ded8" class="card-img-top" alt="...">
    </div>
  <% end %>
  <%= link_to new_itinerary_path(:filters => {:seek => "Books", :address => @current_location }), class:"home-category-links", style:"text-decoration:none; color:black; width:200px;" do %>
    <div class="corner card" style="width: 12rem;">
      <div class="home-card-slidecard-body card-body">
        <h5 style="font-weight:bold" class="category-card card-text">Books</h5>
      </div>
      <img class="mt-3"style="width:100%" src="https://img.freepik.com/free-vector/hand-student-holding-magnifying-glass-studying-books-stack-books-scientific-research-flat-vector-illustration-education-information-concept-banner-website-design-landing-page_74855-24720.jpg?w=1480&t=st=1671117494~exp=1671118094~hmac=cc568b35b5d92bed2b54ee42376c6b3a2b56dd49e4d57c19550572a5a3563226" class="card-img-top" alt="...">
    </div>
  <% end %>
  <%= link_to new_itinerary_path(:filters => {:seek => "Games", :address => @current_location }), class:"home-category-links", style:"text-decoration:none; color:black; width:200px;" do %>
    <div class="corner card" style="width: 12rem;">
      <div class="home-card-slidecard-body card-body">
        <h5 style="font-weight:bold" class="category-card card-text">Games</h5>
      </div>
      <img class="mt-3"style="width:100%" src="https://img.freepik.com/free-vector/having-fun-concept-illustration_114360-1702.jpg?w=1480&t=st=1671117801~exp=1671118401~hmac=5e925ae9fb30e368b756788c43b1526974d4c52cb3db4824e462ea673d651486" class="card-img-top" alt="...">
    </div>
  <% end %>
  <%= link_to new_itinerary_path(:filters => {:seek => "Cleaning", :address => @current_location }), class:"home-category-links", style:"text-decoration:none; color:black; width:200px;" do %>
    <div class="corner card" style="width: 12rem;">
      <div class="home-card-slidecard-body card-body">
        <h5 style="font-weight:bold" class="category-card card-text">Cleaning</h5>
      </div>
      <img class="mt-3"style="width:100%" src="https://img.freepik.com/free-vector/cleaning-service-concept-illustration_114360-9842.jpg?w=1480&t=st=1671118467~exp=1671119067~hmac=655dc43a10c1be14c79d9c613a9d18ee3d08c4422aee8815b3a609dcd81e01aa" class="card-img-top" alt="...">
    </div>
  <% end %>

</div>
