<div class="container">
  <h1>Add a new product</h1>
  <%= simple_form_for([@business, @product]) do |f| %>
        <%= f.input :name %>
        <%= f.input :price, as: :float%>
        <%= f.input :category %>
        <%= f.input :brand %>
        <%= f.input :availability %>
        <%= f.submit class: "btn btn-dark"%>
      <% end %>
</div>
