<%@user_location = request.location%>
<div data-controller="user-location" id="show-container" style="width: 100vw; background-color:white;">
  <div class="d-flex justify-content-around">

    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel" style="height: 35vh; width: 100vw; ">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="4" aria-label="Slide 3"></button>
      </div>

      <div class="carousel-inner" style="height: 35vh;" >
        <div class="carousel-item active" style="height: 35vh;  width: 100vw;">
          <%= cl_image_tag @photos[0].key, height: 800, width: 800, crop: :fill, class:"bd-placeholder-img c-image-l", preserveAspectRatio: "xMidYMid slice", focusable: "false" %>
          <div class="container">
            <div class="carousel-caption text-start">
            </div>
          </div>
        </div>

        <div class="carousel-item" style="height: 35vh">
          <%= cl_image_tag @photos[1].key, height: 800, width: 800, crop: :fill, class:"bd-placeholder-img c-image-l" , preserveAspectRatio: "xMidYMid slice", focusable: "false" %>
          <div class="container">
            <div class="carousel-caption">
            </div>
          </div>
        </div>

        <div class="carousel-item" style="height: 35vh">
          <%= cl_image_tag @photos[2].key, height: 800, width: 800, crop: :fill, class:"bd-placeholder-img c-image-l"  , preserveAspectRatio: "xMidYMid slice", focusable: "false"%>
          <div class="container">
            <div class="carousel-caption text-end">
            </div>
          </div>
        </div>

        <div class="carousel-item" style="height: 35vh">
          <%= cl_image_tag @photos[3].key, height: 800, width: 800, crop: :fill, class:"bd-placeholder-img c-image-l", preserveAspectRatio: "xMidYMid slice", focusable: "false" %>
          <div class="container">
            <div class="carousel-caption text-end">
            </div>
          </div>
        </div>

        <div class="carousel-item" style="height: 35vh">
          <%= cl_image_tag @photos[4].key, height: 600, width: 600, crop: :fill, class:"bd-placeholder-img c-image-l" , preserveAspectRatio: "xMidYMid slice", focusable: "false"%>
          <div class="container">
            <div class="carousel-caption text-end">
            </div>
          </div>
        </div>
      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true" ></span>
        <span class="visually-hidden">Previous</span>
      </button>

      <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>

      <div id="wide-buttons">
        <% if current_user && current_user == @product.business.owner %>
          <div class="d-flex">
            <div class="m-1">
              <%= link_to "Edit this product!", edit_business_product_path(@business, @product), class: "blue-btn"%>
            </div>
            <div class="m-1">
              <%= link_to "Delete", business_product_path(@business, @product), data:{turbo_method: :delete, turbo_confirm: "Are you sure?"},  class: "blue-btn"%>
            </div>
          </div>
          <h2><i class="fa-solid fa-tag"></i> Price: £<%= @product.price.round%></h2>
        <% else %>
          <div class="d-flex align-items-center">
            <div class="m-1">
              <a class="btn btn-primary">Add to itinerary!</a>
            </div>
            <h2 style="margin-left: 5px; margin-top: 5px;" ><i class="fa-solid fa-tag"></i> Price: £<%= @product.price.round%></h2>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div id=info-container-picture-business-product-show class="d-flex justify-content-center pt-3" style= "width: 100vw; background-color: white">
    <div class="" style=" width: 95vw; ">
      <div class="m-2" style="bottom: 0; right: 0">
        <div class="mt-1">
          <h2 style="font-weight: bold" data-user-location-product-id-value="<%= @product.id %>"><%=@product.name%></h2>
          <hr>
          <p><i class="fa-solid fa-star"></i> Brand: <%= @product.brand%></p>
          <p><i class="fa-solid fa-circle-question"></i> Category :<%= @product.category %></p>
          <p><i class="fa-solid fa-compass-drafting"></i> Distance: <%=  Geocoder::Calculations.distance_between(@user_location, [@product.latitude, @product.longitude])%></p>
        </div>
      </div>
      <div class="m-2">
        <h2>Product info</h2>
        <p><i class="fa-solid fa-list"></i> <%=@product.description%></p>
      </div>
      <div id="narrow-buttons">
        <% if current_user && current_user == @product.business.owner %>
          <div class="d-flex align-items-center">
            <div class="m-1">
              <%= link_to "Edit this product!", edit_business_product_path(@business, @product), class: "blue-btn", style: "padding: 5px;"%>
            </div>
            <div class="m-1">
              <%= link_to "Delete", business_product_path(@business, @product), data:{turbo_method: :delete, turbo_confirm: "Are you sure?"},  class: "blue-btn", style: "padding: 5px;"%>
            </div>
            <h2 style="margin-left: 5px; margin-top: 5px;" ><i class="fa-solid fa-tag"></i> Price: £<%= @product.price.round%></h2>
          </div>
        <% else %>
          <div class="d-flex align-items-center">
            <div class="m-1">
              <a class="blue-btn">Add to itinerary!</a>
            </div>
            <h2 style="margin-left: 5px; margin-top: 5px;" ><i class="fa-solid fa-tag"></i> Price: £<%= @product.price.round%></h2>
          </div>
        <% end %>
        <hr>
        </div>
        <div id="show-map" class="map" style="width: 100%; height: 30vh; border-radius-button: 10px; margin-bottom: 5vh;"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
    </div>
  </div>

</div>
