<%@user_location = request.location%>
<div id="show-container" style="width: 100vw; background-color:white;">
  <div class="d-flex justify-content-around">

    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel" style="height: 35vh; width: 100vw; ">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="4" aria-label="Slide 3"></button>
      </div>

      <div class="carousel-inner" style="height: 35vh;" >

        <div class="carousel-item active" style="height: 35vh;  width: 100vw;">
          <% if @photos[0]!=nil %>
            <%= cl_image_tag @photos[0].key, height: 800, width: 800, crop: :fill, class:"bd-placeholder-img c-image-l", preserveAspectRatio: "xMidYMid slice", focusable: "false" %>
          <%else%>
            <img src="https://res.cloudinary.com/dicqfpbyc/image/upload/v1671166248/j1v91gw4pkbelj5wfaq4.png" alt="">
          <% end %>
          <div class="container">
            <div class="carousel-caption text-start">
            </div>
          </div>
        </div>

        <div class="carousel-item" style="height: 35vh">
          <% if @photos[1]!=nil %>
            <%= cl_image_tag @photos[1].key, height: 800, width: 800, crop: :fill, class:"bd-placeholder-img c-image-l", preserveAspectRatio: "xMidYMid slice", focusable: "false" %>
          <%else%>
            <img src="https://res.cloudinary.com/dicqfpbyc/image/upload/v1671166248/j1v91gw4pkbelj5wfaq4.png" alt="">
          <% end %>
          <div class="container">
            <div class="carousel-caption">
            </div>
          </div>
        </div>

        <div class="carousel-item" style="height: 35vh">
          <% if @photos[2]!=nil %>
            <%= cl_image_tag @photos[2].key, height: 800, width: 800, crop: :fill, class:"bd-placeholder-img c-image-l", preserveAspectRatio: "xMidYMid slice", focusable: "false" %>
          <%else%>
            <img src="https://res.cloudinary.com/dicqfpbyc/image/upload/v1671166248/j1v91gw4pkbelj5wfaq4.png" alt="">
          <% end %>
          <div class="container">
            <div class="carousel-caption text-end">
            </div>
          </div>
        </div>

        <div class="carousel-item" style="height: 35vh">
          <% if @photos[3]!=nil %>
            <%= cl_image_tag @photos[3].key, height: 800, width: 800, crop: :fill, class:"bd-placeholder-img c-image-l", preserveAspectRatio: "xMidYMid slice", focusable: "false" %>
          <%else%>
            <img src="https://res.cloudinary.com/dicqfpbyc/image/upload/v1671166248/j1v91gw4pkbelj5wfaq4.png" alt="">
          <% end %>
          <div class="container">
            <div class="carousel-caption text-end">
            </div>
          </div>
        </div>

        <div class="carousel-item" style="height: 35vh">
          <% if @photos[4]!=nil %>
            <%= cl_image_tag @photos[4].key, height: 800, width: 800, crop: :fill, class:"bd-placeholder-img c-image-l", preserveAspectRatio: "xMidYMid slice", focusable: "false" %>
          <%else%>
            <img src="https://res.cloudinary.com/dicqfpbyc/image/upload/v1671166248/j1v91gw4pkbelj5wfaq4.png" alt="">
          <% end %>
          <div class="container">
            <div class="carousel-caption text-end">
            </div>
          </div>
        </div>
      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true" ></span>
        <span class="visually-hidden">Previous</span>
      </button>

      <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>

      <div id="wide-buttons" style="margin-top: 10px; margin-left: -4.5px; margin-bottom: 50px;">
        <% if current_user && current_user == @product.business.owner %>
          <div class="d-flex aligin-items-center flex-wrap">
            <div class="m-2">
              <%= link_to "Go back to products!", business_products_path(@business), class: "blue-btn"%>
            </div>
            <div class="m-2">
              <%= link_to "Edit this product!", edit_business_product_path(@business, @product), class: "blue-btn"%>
            </div>
            <div class="m-2">
              <%= link_to "Delete", business_product_path(@business, @product), data:{turbo_method: :delete, turbo_confirm: "Are you sure?"},  class: "blue-btn"%>
            </div>
             <div class="m-2">
              <%= link_to "Back", :back, class: "blue-btn" %>
            </div>
          </div>

        <% elsif current_user %>
          <div class="d-flex align-items-center flex-wrap">
            <div class="m-2">
              <%= link_to "Add to my itinerary + ", create_itinerary_path(@product, itinerary: {name: "My itinerary #{current_user.saved_itineraries.all.count + 1}", status: false}), class: "blue-btn" %>
            </div>
            <div class="m-2">
              <%= link_to "See the business", business_path(@product.business), class: "blue-btn" %>
            </div>
            <div class="m-2">
              <%= link_to "More from this seller", business_products_path(@product.business), class: "blue-btn" %>
            </div>
            <div class="m-2">
              <%= link_to "Back", :back, class: "blue-btn" %>
            </div>
          </div>
        <% else %>
            <div class="m-2">
              <%= link_to "Login to add this item to your itinerary", new_user_registration_path, class: "blue-btn"%>
            </div>
            <div class="m-2">
              <%= link_to "Back", :back, class: "blue-btn" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div id=info-container-picture-business-product-show class="d-flex justify-content-center pt-3" style= "width: 100vw; background-color: white">
    <div class="" style=" width: 95vw; ">
      <div class="m-2" style="bottom: 0; right: 0">
        <div class="mt-1">
          <h2 style="font-weight: bold"><%=@product.name%></h2>
          <p style="font-weight: bold"><i class="fa-solid fa-shop"></i> Sold by: <%=@product.business.name%></p>
          <hr>
          <h2 style="margin-left: 5px; margin-top: 5px;" ><i class="fa-solid fa-tag"></i> Price: £<%= "%.2f" % @product.price.round%></h2>
          <p><i class="fa-solid fa-star"></i> Brand: <%= @product.brand%></p>
          <p><i class="fa-solid fa-circle-question"></i> Category :<%= @product.category %></p>
          <p><i class="fa-solid fa-compass-drafting"></i> Distance: <%=  Geocoder::Calculations.distance_between(@user_location, [@product.latitude, @product.longitude])%></p>
          <p><i class="fa-solid fa-clock"></i> <%= @product.business.opening_time.strftime("%H:%M")%> - <%= @product.business.closing_time.strftime("%H:%M")%><p>
        </div>
      </div>
      <div class="m-2">
        <h2>Product info</h2>
        <p><i class="fa-solid fa-list"></i> <%=@product.description%></p>
      </div>
      <div id="narrow-buttons">
        <% if current_user && current_user == @product.business.owner %>
          <div class="d-flex align-items-center flex-wrap">
            <div class="m-2">
              <%= link_to "Go back to products!", business_products_path(@business), class: "blue-btn"%>
            </div>
            <div class="m-2">
              <%= link_to "Edit this product!", edit_business_product_path(@business, @product), class: "blue-btn"%>
            </div>
            <div class="m-2">
              <%= link_to "Delete", business_product_path(@business, @product), data:{turbo_method: :delete, turbo_confirm: "Are you sure?"},  class: "blue-btn"%>
            </div>
            <div class="m-2">
              <%= link_to "Back", :back, class: "blue-btn" %>
            </div>
          </div>
        <% elsif current_user%>
          <div class="d-flex align-items-center flex-wrap">
            <div class="m-2">
              <%= link_to "Add to my itinerary + ", create_itinerary_path(@product, itinerary: {name: "My itinerary #{current_user.saved_itineraries.all.count + 1}", status: false}), class: "blue-btn" %>
            </div>
            <div class="m-2">
              <%= link_to "See the business", business_path(@product.business), class: "blue-btn" %>
            </div>
            <div class="m-2">
              <%= link_to "More from this seller", business_products_path(@product.business), class: "blue-btn" %>
            </div>
            <div class="m-2">
              <%= link_to "Back", :back, class: "blue-btn" %>
            </div>
          </div>
        <% else %>
          <div class="m-3">
            <%= link_to "Login to add this item to your itinerary", new_user_registration_path, class: "blue-btn"%>
          </div>
          <div class="m-">
              <%= link_to "Back", :back, class: "blue-btn" %>
            </div>
        <% end %>
        <hr>
        </div>
         <div id="show-map" class="map" style="width: 100%; height: 30vh; border-radius-button: 10px; margin-bottom: 5vh;"
          data-controller="map-show"
          data-map-show-markers-value="<%= @markers.to_json %>"
          data-map-show-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
    </div>
  </div>

</div>
